.service_section{
    margin-top: 100px;
    padding-bottom: 100px;
}
.service_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
}
.service{
    padding: 20px;
    border-left: 5px solid #2ECC71;
    border-right: 5px solid #2ECC71;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px #e7e7e7;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
}
.service:hover{
    transform: scale(.98);
}
.service h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #17202A;
    font-weight: 500;
}
.service p{
    text-align: center;
    font-size: 14px;
    color: #777;
    line-height: 24px;
    width: 90%;
    margin: auto;
}

/* responsive part start here */
@media (max-width: 1050px){
    .service{
        padding: 10px;
    }
    .service_content{
        grid-gap: 2%;
    }
}
@media (max-width: 992px){
    .service h3{
        font-size: 16px;
    }
    .service p{
        font-size: 12px;
    }
}
@media (max-width: 880px){
    .service h3{
        font-size: 14px;
    }
    .service p{
        font-size: 10px;
        line-height: 20px;
    }
}
@media (max-width: 768px){
    .service_content{
        grid-template-columns: repeat(2, 1fr);
    }
    .service h3{
        font-size: 16px;
    }
    .service p{
        font-size: 14px;
        line-height: 25px;
    }
}
@media (max-width: 600px){
    .service_content{
        grid-gap: 3%;
    }
    .service h3{
        font-size: 14px;
    }
    .service p{
        font-size: 12px;
        line-height: 20px;
    }
}
@media (max-width: 500px){
    .service_content{
        grid-template-columns: repeat(1, 1fr);
    }
    .service{
        padding: 20px;
    }
    .service h3{
        font-size: 18px;
    }
    .service p{
        font-size: 15px;
        line-height: 30px;
    }
    .service_section{
        padding-bottom: 250px;
    }
}
@media (max-width: 425px){
    .service_section{
        padding-bottom: 260px;
    }
}

@media (max-width: 375px){
    .service_section{
        margin-bottom: 50px;
    }
}


